<div
  *ngIf="forecastList"
  class="d-flex align-items-center flex-column forecast-weather"
>
  <div
    class="d-flex justify-content-center m-4 forecast-weather__container flex-wrap"
  >
    <ng-container *ngFor="let weather of forecastList | slice: 0 : 4">
      <app-forecast-card
        [weather]="weather"
        [isSelectedCard]="weatherSelected === weather"
        (weatherSelected)="onWeatherSelected($event)"
      ></app-forecast-card>
    </ng-container>
  </div>
  <app-weather-card
    class="my-5"
    *ngIf="weatherSelected"
    [weather]="weatherSelected"
  ></app-weather-card>
</div>

<div *ngIf="isLoading" class="d-flex justify-content-center mt-5">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="alert alert-danger" role="alert" *ngIf="isError">
  There is an error
</div>
